.about-website .background-border {
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
}

.heading-sidebar {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #eeeeee;/*文字色*/
  background: #6c757d;/*背景色*/
  border-left: solid 5px #494949;/*左線*/
}